{% from "module_macros.tmpl" import enum_values %}
{% from "module_macros.tmpl" import struct_descriptor %}
# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

import mojo_bindings.descriptor as _descriptor
import mojo_bindings.reflection as _reflection
{% if interfaces %}
import mojo_bindings.interface_reflection as _interface_reflection
{% endif %}
{% if imports %}

{% for import in imports %}
import {{import.python_module}}
{% endfor %}
{% endif %}
{#--- Constants #}
{% if module.constants %}

{% for constant in module.constants %}
{{constant|name}} = {{constant.value|expression_to_text}}
{% endfor %}
{% endif %}
{% for enum in enums %}

class {{enum|name}}(object):
  __metaclass__ = _reflection.MojoEnumType
  VALUES = {{enum_values(enum)|indent(2)}}
{% endfor %}
{% for struct in structs %}

class {{struct|name}}(object):
  __metaclass__ = _reflection.MojoStructType
  DESCRIPTOR = {{struct_descriptor(struct)|indent(2)}}
{% endfor %}
{% for interface in interfaces %}

class {{interface|name}}(object):
  __metaclass__ = _interface_reflection.MojoInterfaceType
  DESCRIPTOR = {
    'fully_qualified_name': '{% if namespace %}{{namespace|replace(".","::")}}::{% endif %}{{interface|fully_qualified_name|replace(".","::")}}',
    'version': {{interface.version}},
    'methods': [
{%  for method in interface.methods %}
      {
        'name': '{{method|name}}',
        'ordinal': {{method.ordinal}},
        'parameters': {{struct_descriptor(method.param_struct)|indent(8)}},
{%    if method.response_parameters != None %}
        'responses': {{struct_descriptor(method.response_param_struct)|indent(8)}},
{%    endif %}
      },
{%  endfor %}
    ],
  }
{% endfor %}
