<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.flutter.plugins.urllauncher">
  <application>
    <activity android:name="io.flutter.plugins.urllauncher.WebViewActivity"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
      android:exported="false"/>
  </application>
</manifest>
