<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.flutter.plugins.webviewflutterexample">

  <application
    android:usesCleartextTraffic="true"
    android:icon="@mipmap/ic_launcher"
    android:label="webview_flutter_example">
    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
    <activity
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
      android:hardwareAccelerated="true"
      android:launchMode="singleTop"
      android:name="io.flutter.embedding.android.FlutterActivity"
      android:theme="@style/LaunchTheme"
      android:windowSoftInputMode="adjustResize">
      <!-- This keeps the window background of the activity showing
           until Flutter renders its first frame. It can be removed if
           there is no splash screen (such as the default splash screen
           defined in @style/LaunchTheme). -->
      <meta-data
        android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
        android:value="true"/>
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

  <!-- The INTERNET permission is required for development. Specifically,
       flutter needs it to communicate with the running application
       to allow setting breakpoints, to provide hot reload, etc.
  -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <!-- When tests are ran on Firebase Test Lab, a wake lock
       permission failure prevents tests from running.
  -->
  <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
