<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAak_C1GoJp4_Z4hRHeNxAhImp-QrlvJTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1050830167472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simtrainingpartner.simtrainingpartner</string>
	<key>PROJECT_ID</key>
	<string>sim-training-55d86</string>
	<key>STORAGE_BUCKET</key>
	<string>sim-training-55d86.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050830167472:ios:68e23beec82fc01b318a75</string>
	<key>DATABASE_URL</key>
	<string>https://sim-training-55d86-default-rtdb.firebaseio.com</string>
</dict>
</plist>