<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>

	<!--
		This executable name must match the name of the app provided to the
		ios_app GN template
	-->
	<key>CFBundleExecutable</key>
	<string>Sky</string>

	<key>CFBundleIdentifier</key>
	<string>com.google.sky</string>
	
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sky</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>

	<!--
		mojo:// URL handlers
	-->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.google.mojo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mojo</string>
			</array>
		</dict>
	</array>

	<!--
		Sky Load URL
	-->
	<key>com.google.sky.load_url</key>
	<string>https://domokit.github.io/home.dart</string>

	<!--
		FIXME(csg): Xcode, as part of its build process, adds the following
		items to the Info.plist. It is not immediately clear if there is a
		command line utility that generates these. For now, just add the same
		manually
	-->
	<key>DTPlatformName</key>
	<string>iphonesimulator</string>
	<key>DTSDKName</key>
	<string>iphonesimulator8.3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.3</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneSimulator</string>
	</array>
</dict>
</plist>
