{% from "constant_definition.tmpl" import constant_def %}
{% include "header.java.tmpl" %}

public final class {{main_entity}} {
{%  for constant in constants %}

    {{constant_def(constant)|indent(4)}}
{%  endfor %}

    private {{main_entity}}() {}

}
