*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
GeneratedPluginRegistrant.java

# Gradle wrapper files should normally be checked into source control.
# See ../../README.md
gradle-wrapper.jar
/gradlew
/gradlew.bat
