/* Overrides for dartdoc styles. */

body {
  font-family: "Google Sans", "Roboto", sans-serif;
}

.markdown h2 {
  font-size: 24px;
}

section.summary h2 {
  font-size: 24px;
  color: inherit;
  border-bottom: none;
}

pre,
pre.prettyprint,
pre > code {
  font-size: 14px;
}

pre {
  margin: 0 0 15px 0;
  padding: 8px 12px;
  border-radius: 4px;
}

code {
  background-color: inherit;
  font-size: 1em; /* browsers default to smaller font for code */
  padding-left: 0; /* otherwise we get ragged left margins */
  padding-right: 0;
}

.markdown.desc {
  max-width: inherit;
}

#search-box {
  height: 24px;
  font-size: 15px;
  padding-left: 40px;
}

input.form-control.typeahead {
  font-size: 15px;
}

dl.dl-horizontal dt {
  color: inherit;
}

/* Line the material icons up with their labels */
i.md-36 {
  vertical-align: bottom;
}

/* address a style issue with the background of code sections. Without this, the
   text has a different background from the rest of the code box. */
code.hljs {
  background: inherit;
}

footer {
  font-size: 13px;
  padding: 12px 20px;
}

/* Override the comment color for highlight.js to make it more
   prominent/readable */
.hljs-comment {
  color: #128c00;
  font-style: italic;
  font-weight: bold;
}

/* Constrain image width to container */
img {
  max-width: 100%
}

/* Light/Dark Theme adjustments */

.light-theme {
  --main-hyperlinks-color: rgb(19, 137, 253);
}

body.light-theme {
  color:rgb(74, 74, 74);
}

body.dark-theme {
  color:rgb(200, 200, 200);
}

.dark-theme .multi-line-signature .name {
  color: rgb(163, 163, 163);
}

.dark-theme .parameter-name {
  color: rgb(163, 163, 163);
}

.dark-theme .parameter {
  color: rgb(163, 163, 163);
}

.light-theme pre {
  border: 1px solid white;
  color: #222;
  background-color:#eee;
}

.dark-theme pre {
  border: 1px solid #444;
  color: white;
  background-color:#1c2127;
}

.dark-theme .hljs-string {
  color:rgb(255, 100, 100);
}

.dark-theme .hljs-title {
  color:rgb(192, 184, 255);
}
