<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.flutter.plugins.videoplayerexample">

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="video_player_example"
    android:networkSecurityConfig="@xml/network_security_config">
    <activity
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection"
      android:hardwareAccelerated="true"
      android:name="io.flutter.embedding.android.FlutterActivity"
      android:theme="@style/LaunchTheme"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <meta-data android:name="flutterEmbedding" android:value="2"/>
  </application>

  <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
