<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.flutter.plugins.firebase.auth">
    <application>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:io.flutter.plugins.firebase.auth.FlutterFirebaseAuthRegistrar"
                       android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
    </application>
</manifest>
