---
Checks:          'clang-diagnostic-*,clang-analyzer-*,google-*,readability-identifier-naming,-google-explicit-constructor,cppcoreguidelines-prefer-member-initializer,modernize-use-default-member-init'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:
  - key:             readability-identifier-naming.PrivateMemberCase
    value:           'lower_case'
  - key:             readability-identifier-naming.EnumConstantCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.EnumConstantPrefix
    value:           'k'
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           '_'
  - key:             readability-identifier-naming.PublicMethodCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.PrivateMethodCase
    value:           'CamelCase'
  - key:             cppcoreguidelines-prefer-member-initializer.UseAssignment
    value:           true
  - key:             modernize-use-default-member-init.UseAssignment
    value:           true
...
