<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tekartik.sqfliteexample">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- For android unit test -->
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:exported="true" />
    </application>
</manifest>
