<!-- Copyright 2014 The Flutter Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.flutter.add2app">

    <application android:allowBackup="false"
        tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon">
        <activity android:name=".MainActivity" />
    </application>
</manifest>
