{%- macro declare_params(prefix, parameters) %}
{%-   for param in parameters -%}
{{param.kind|cpp_const_wrapper_type}} {{prefix}}{{param.name}}
{%- if not loop.last %}, {% endif %}
{%-   endfor %}
{%- endmacro %}

{%- macro declare_callback(method) -%}
mojo::Callback<void(
{%-   for param in method.response_parameters -%}
{{param.kind|cpp_result_type}}
{%- if not loop.last %}, {% endif %}
{%-   endfor -%}
)>
{%- endmacro -%}

{%- macro declare_request_params(prefix, method) -%}
{{declare_params(prefix, method.parameters)}}
{%-   if method.response_parameters != None -%}
{%- if method.parameters %}, {% endif -%}
const {{method.name}}Callback& callback
{%-   endif -%}
{%- endmacro -%}
