size_t GetSerializedSize_(const {{struct.name}}Ptr& input);
void Serialize_({{struct.name}}Ptr input, mojo::internal::Buffer* buffer,
                internal::{{struct.name}}_Data** output);
void Deserialize_(internal::{{struct.name}}_Data* input,
                  {{struct.name}}Ptr* output);
