size_t GetSerializedSize_(const {{union.name}}Ptr& input, bool inlined);
void SerializeUnion_({{union.name}}Ptr input, mojo::internal::Buffer* buffer,
                     internal::{{union.name}}_Data** output, bool inlined);
void Deserialize_(internal::{{union.name}}_Data* input,
                  {{union.name}}Ptr* output);
