.DS_Store
.dart_tool/

.packages
.pub/

doc/
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
example/ios/Flutter/.last_build_id
example/ios/Flutter/flutter_export_environment.sh
