// Copyright 2014 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

library {{module.name|dot_to_underscore}};

import 'dart:async';

import 'package:mojo/bindings.dart' as bindings;
import 'package:mojo/core.dart' as core;

{%- for import in imports %}
import 'package:{{import.rebased_path}}.dart' as {{import.unique_name}};
{%- endfor %}

{%- include "module_definition.tmpl" %}
