<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2015 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.chromium.test.driver"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="21" />

    <application android:label="OnDeviceInstrumentationDriver" />

    <instrumentation android:name="org.chromium.test.driver.OnDeviceInstrumentationDriver"
            android:targetPackage="org.chromium.test.driver"
            android:label="OnDeviceInstrumentationDriver"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
