<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.flutter.plugins.googlemobileads">
  <uses-permission android:name="android.permission.INTERNET" />
  <application>
    <meta-data
      android:name="io.flutter.embedded_views_preview"
      android:value="true" />
  </application>
</manifest>
