# Used to allow clangd to run on CI platforms as part of //tools/clangd_check.
#
# Intended to have no effect elsewhere.
#
# See also:
# - https://clangd.llvm.org/config#compileflags
# - https://github.com/clangd/clangd/issues/662
CompileFlags:
  Add: -Wno-unknown-warning-option
  Remove: [-m*, -f*]
