## This page intentionally left blank. ##
#
# Workaround for VS2013 automatically creating .gitattributes files with
# default settings that we don't want.
# See also:
# http://connect.microsoft.com/VisualStudio/feedback/details/804948/inappropriately-creates-gitattributes-file
# http://crbug.com/342064
