<?xml version="1.0" encoding="utf-8"?>

<!-- Copyright 2013 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.memconsumer" android:versionCode="1"
    android:versionName="1.0">

    <application
            android:label="MemConsumer">
        <activity android:name=".MemConsumer" android:icon="@drawable/icon" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="ResidentService" android:enabled="true" />
    </application>

</manifest>
